# Ignorar diretórios de build e arquivos temporários
/db/
/incremental_db/
/output_files/
/simulation/
*.rdr.flock
*.qmsg
*.rdb
*.logdb
*.hdb
*.cdb
*.bpm
*.html
*.txt
*.xml
*.json
*.kpt
*.hsd
*.asm.*
*.fit.*
*.map.*
*.pplq.*
*.pre_map.*
*.root_partition.*
*.routing.*
*.eda.*
*.lpc.*
*.cmp.*
*.cyclonev_io_sim_cache.*
